html, body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #151515;
}

.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 500px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    position: absolute;
    width: 230px;
    height: 270px;
    background-color: #242424;
    border-radius: 6px;
    left: max(calc(230px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item img {
    width: 100px;
    height: 110px;
    object-fit: contain;
    margin-top: 50px;
}

.item-name {
    color: #ffff;
    background-color: #343434;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.container__titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .wrapper {
        height: 300px;
        margin-top: 2rem;
    }

    .item {
        width: 150px;
        height: 180px;
        left: max(calc(150px * 7), 100%);
    }

    .item img {
        width: 60px;
        height: 70px;
    }

    .item-name {
        font-size: 0.9rem;
    }

    .skills {
        height: auto;
        padding-bottom: 20px;
    }
}
