/* MainPage.css */
.main-container {
    background-color: #151515;
    background-image: url('../assets/img/Tunnel.png');
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

/* Regras para telas menores */
@media (max-width: 768px) {
    .main-container {
        padding: 0 20px;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }
}
