.main-container {
    background-color: #151515;
    background-image: url('../assets/img/Tunnel.png');
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Regras para telas menores */
@media (max-width: 768px) {
    .main-container {
        padding: 0 20px; /* Adiciona padding lateral para evitar que o conteúdo encoste nas bordas */
        background-position: center; /* Garante que a imagem de fundo permaneça centralizada */
        background-size: cover; /* Mantém a imagem no tamanho correto */
        min-height: 100vh;
    }
}
