.header {
    background-color: transparent;
    height: auto; /* Altura determinada pelo conteúdo */
    min-height: 20vh; /* Reduz ainda mais a altura mínima */
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    padding: 5px 0; /* Reduz o padding para 5px */
}



.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.header__list-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins",sans-serif;
    font-size: var(--26px);
    margin-left: 60px;
}

.header__social {
    margin-left: 80px;
}

.header__social-icon {
    margin-left: 15px;
}
