.sobreMim {
    height: 100vh;
    background-color: #151515;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.sobreMim__Titulo {
    font-size: var(--52px);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #8331EB;
    margin-bottom: 40px;
    background: linear-gradient(90deg,
            #8331EB 100px,
            #C8B0E7 200px,
            #8331EB 300px,
            #C8B0E7 400px,
            #8331EB 500px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sobreMim__conteudo {
    max-width: 768px;
    width: 100%;
}

.sobreMim__secao {
    margin-bottom: 40px;
}

.sobreMim__secao-titulo {
    font-size: var(--40px);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.sobreMim__secao-texto {
    font-size: var(--30px);
    font-family: "Poppins", sans-serif;
    color: #CCCCCC;
    line-height: 1.6;
    text-align: justify;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    .sobreMim {
        padding: 30px;
        height: auto; /* Permite que o conteúdo se expanda conforme necessário */
    }

    .sobreMim__Titulo {
        font-size: 2.5rem; /* Ajusta o tamanho do título para telas menores */
        margin-bottom: 30px;
    }

    .sobreMim__secao-titulo {
        font-size: 1.8rem; /* Diminui o tamanho dos títulos das seções */
    }

    .sobreMim__secao-texto {
        font-size: 1.2rem; /* Reduz o tamanho do texto para telas menores */
    }
}

@media (max-width: 480px) {
    .sobreMim {
        padding: 20px;
    }

    .sobreMim__Titulo {
        font-size: 2rem; /* Ajusta ainda mais o tamanho do título para dispositivos muito pequenos */
    }

    .sobreMim__secao-titulo {
        font-size: 1.5rem; /* Ajusta o título da seção para dispositivos muito pequenos */
    }

    .sobreMim__secao-texto {
        font-size: 1rem; /* Reduz o tamanho do texto para dispositivos pequenos */
    }
}
