.experiencias {
    background-color: #151515; /* Certifica-se de que o fundo esteja sempre escuro */
    color: #FFFFFF;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .experiencias {
        background-color: #151515; /* Garante que o fundo permaneça escuro no mobile */
    }

    .experiencias__item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center; /* Centraliza a logo e o conteúdo */
    }

    .experiencias__logo {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .experiencias__logo-imagem {
        margin: 0 auto; /* Garante que a imagem fique centralizada */
    }

    .experiencias__item::before {
        display: none; /* Remove a linha vertical para dispositivos móveis */
    }

    .experiencias__empresa,
    .experiencias__cargo {
        font-size: 1.5rem;
    }

    .experiencias__data {
        font-size: 1.2rem;
    }

    .experiencias__descricao {
        font-size: 1.1rem;
    }
}

/* Estilos responsivos para telas muito pequenas */
@media (max-width: 480px) {
    .experiencias {
        padding: 20px;
        background-color: #151515; /* Garante que o fundo permaneça escuro em telas muito pequenas */
    }

    .experiencias__titulo {
        font-size: 2rem;
    }

    .experiencias__empresa,
    .experiencias__cargo {
        font-size: 1.3rem;
    }

    .experiencias__data {
        font-size: 1rem;
    }

    .experiencias__descricao {
        font-size: 1rem;
    }
}
